body {
  font-family: Arial, sans-serif;
}

.center {
  width: 300px;
  margin: 100px auto;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.navbar {
  background: #222;
  color: white;
  padding: 10px;
}

.layout {
  display: flex;
}

.sidebar {
  width: 250px;
  padding: 10px;
  border-right: 1px solid #ccc;
}

.grid {
  flex: 1;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  padding: 10px;
}

.card {
  border: 1px solid #ccc;
  padding: 10px;
}

.card img {
  max-width: 100%;
  height: auto;
  
}